.n{
    margin-top: 20px;
    margin-bottom: 20px;
}
.p1{
    margin-left: 20px;
    margin-bottom: 1px;
    margin-top: 20px;
}
.line{
    margin-bottom: 1px;
    margin-top: 1px;
}
.m{
    margin-left: 20px;
}