<div class="n">
    <h4>About</h4>
</div>

<div class="m">
    <p class="p1">People say I could last a day without talking. This is partially true. From childhood, I am always alone and</p>
    <p class="line">I loved to explore things that kids of the same age doesn’t like. I like to know how things work; how it is</p>
    <p class="line">made and how it is used. I am a person who likes to dream of things that the world can offer. I am an </p>
    <p class="line">ambitious person. I always say to myself, “dream big and make it happen”. </p>
    <p class="p1">I am serious and disciplined. Loyalty is probably my biggest virtue. I give it to the fullest and also expect </p>
    <p class="line">the same from the people I give it to. I show utmost care and love to the people that matter to me. I will </p>
    <p class="line">do anything in my power to keep them happy.</p>
    <p class="p1">I am not perfect though. I can be moody when I don’t achieve whatever I want to accomplish in life. My </p>
    <p class="line">biggest weakness is that I find it difficult to trust people. We are always surrounded by dishonest </p>
    <p class="line">people; you can never know who they are and what they are planning for you. I’d rather come face to </p>
    <p class="line">face with a killer, than be stabbed in the back by a pretender.</p>
</div>
